repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: trailing-whitespace
      exclude: tests/data
    - id: check-ast
    - id: debug-statements
    - id: end-of-file-fixer
    - id: check-docstring-first
    - id: check-added-large-files
    - id: requirements-txt-fixer
    - id: file-contents-sorter
      files: requirements-dev.txt

- repo: https://github.com/econchick/interrogate
  rev: 1.5.0
  hooks:
    - id: interrogate
      exclude: ^(docs|setup.py|tests)
      args: [--config=pyproject.toml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
    - id: flake8
      exclude: docs/source/conf.py
      args: [--max-line-length=105, --ignore=E203]

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
    - id: isort
      additional_dependencies: [toml]
      args: ["--profile", "black", "--filter-files"]

- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
  - id: black
    language_version: python3


- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
    - id: codespell
      args:
        - --ignore-words-list=pres,nd,te,afe,ue,wil,tey,te,ot,fo

- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.2
  hooks:
    - id: pyupgrade
      args:
        - --py36-plus

- repo: https://github.com/asottile/add-trailing-comma
  rev: v2.4.0
  hooks:
    - id: add-trailing-comma
