include *.txt
include README.md
include pyproject.toml

graft ctd

prune .github
prune *.egg-info
prune docs
prune notebooks
prune tests

exclude ruff.toml
exclude .gitignore
exclude .pre-commit-config.yaml
exclude *.yml
exclude ctd/_version.py
