black
check-manifest
doctr
flake8
flake8-builtins
flake8-comprehensions
flake8-mutable
flake8-print
ipykernel
isort
jupyter
jupyter_client
mypy
nbconvert
nbsphinx
pre-commit
pycodestyle
pylint
pytest
pytest-cov
pytest-flake8
pytest-xdist
setuptools_scm
sphinx
twine
wheel
